*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

body{
  font-family: 'Montserrat', sans-serif;
}

.slider {
  position: relative;
  width: 70vw;;
  margin: 0 auto;
  height: 70vh;
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
}

.title{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;
}

.fa-arrow-right:before, .fa-arrow-left:before {
  color: #fff
}

.dots-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
  padding: 5px 0;
}

.dot {
  background: #222;
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 50%;
}
.active {
  background: #fff;
}

.image{
  width: 40vw;
  margin: 0 auto;
  display: block;

}

.input--title{
  display: block;
  margin: 2rem auto;
  width: 40vw;
  padding: .375rem .75rem;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  color: #333;
}

.submit--title{
  display: block;
  margin: 2rem auto;
  width: 60vw;
  padding: .375rem .75rem;
  background-color: #fff;
  border: 2px solid #555;
  border-radius: .25rem;
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.submit--title:hover{
  background-color: #555;
  color: white;
}

.input--search{
  background-color: #fff;
  color: #000;
  display: block;
  padding:  .375rem .75rem;
  border: 1px solid #999;
  border-radius: .25rem;
  margin: 2rem auto;
  width: 60vw;
}

.label--search{
  display: block;
  margin: 2rem auto;
  width: 60vw;
}

.display--container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header h1{
  text-align: center;
  color: #6c5ce7;
  margin: 1rem 0;
  font-size: 2.5rem;
}